<link rel="stylesheet" href="/linker/styles/bar.css">

<label><input type="checkbox"> Sort values</label>

<script type="text/javascript" src="/linker/js/d3.v3.js"></script>
<div style="width:30px; float:left;color:#ffffff">placeholder</div>
<script type="text/javascript" src="/linker/js/bar.js"></script>
