<link rel="stylesheet" href="/linker/styles/donuts.css">

<div id="route">
    <%= route %>
</div>

<script type="text/javascript" src="/linker/js/d3.v3.js"></script>
<script type="text/javascript" src="/linker/js/donuts.js"></script>
